<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import axios from "axios";
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  mounted() {
    console.log(process.env.BASE_API);
    console.log(process.env.LICODED);
    let prefix = 'http://localhost:9000';
if(process.env.NODE_ENV == 'development'){
  prefix = '/api'
}
    console.log('HelloWorld');
    axios(`${prefix}/test/test`).then((res)=>{
      console.log(res);
    }).catch((err)=>{
      console.log(err);
    });
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
